.swiper-pagination {
  position: relative;
  padding-bottom: 12px;
  top: -35px;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  opacity: 1;
  background: var(--white);
  transition: all 0.3s;
}

.swiper-pagination-bullet-active {
  background: var(--main);
}
