.btn {
  background-color: var(--main);
  border-radius: 8px;
  padding: 12px 35px;
  font-size: 1.6rem;
  font-weight: 600;
  color: black;
  transition: all 0.3s;
  display: block;
  text-align: center;
  margin: 0;
}

.btn:hover {
  background-color: var(--main2);
}
