.main-container {
  padding: 80px 0;
}

.image img {
  max-height: 500px;
  width: auto;
  margin: 0 auto;
}

.price {
  margin: 20px 0;
  font-size: 2.6rem;
  font-weight: bold;
  color: var(--white);
}

.description {
  color: var(--white);
  font-size: 1.8rem;
  font-family: "Jost", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.controls {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.to-cart {
  margin-left: 40px;
}

.product-meta {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.product-meta span {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--main);
  font-family: "Jost", sans-serif;
  line-height: 2.8rem;
}

.product-meta span a {
  font-size: 1.6rem;
  color: var(--white);
  font-weight: 400;
  font-family: "Jost", sans-serif;
  transition: all 0.2s;
}

.product-meta span a:hover {
  color: var(--main);
}

.des {
  padding: 30px;
  font-size: 1.8rem;
  color: var(--white);
}

.table {
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  margin-bottom: 1.618em;
  width: 100%;
  border-collapse: collapse;
  font-size: 1.8rem;
  color: white;
  margin-top: 40px;
}

.table .name {
  border: 1px solid var(--grey) !important;
  padding: 16px 14px !important;
  min-height: 42px;
  width: 150px;
  text-transform: uppercase;
  text-align: right;
}

.table .value {
  padding: 16px 14px !important;
  border: 1px solid var(--grey) !important;
}

.stock {
  font-size: 1.6rem;
  color: var(--white);
  margin-top: 15px;
  display: block;
}

@media (max-width: 992px) {
  .summary {
    padding-top: 100px;
  }
}

@media (max-width: 576px) {
  .summary {
    padding-left: 10px;
    padding-right: 10px;
  }
}
