.input {
  border: none;
  width: 100%;
  display: block;
  padding: 16px 15px;
  color: #000000;
  border-radius: 6px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  background-color: var(--white);
  outline: none;
  background-color: #f1faee;
  font-size: 1.8rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.input-wrapper label {
  font-size: 1.8rem;
  font-weight: 500;
  display: block;
}

.input:focus ~ label {
  color: #2a9d8f;
}

.input:focus::placeholder {
  opacity: 0;
}

.error {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: var(--red);
  height: 16px;
}
